<html>
<title>News for ya!</title>
<style>
td{
text-align:center;
font-size:0.65em;
font-family:Times;
}
form *
{
font-size:0.4em;
}
#prev
{
float:left;
}
#next
{
float:right;
}
#footerform
{
clear:left;
}
#prev:hover,#next:hover
{
color:orange;
}
#next,#prev
{
font-size:75%;
color:white;
background-color:black;
height:30px;
}
</style>
<body>
<h1 style="text-align:center;font-family:Times"> The LightHouse </h1>
<p style="text-align:right;font-size:0.8em">- Third Eye of the world</p>
<br>
<hr>
{% if articles %}

<form style="position:fixed;left:80%;top:31%" method="get">
{{form}}
<input type='submit'>
</form>

<div id="Container">
<table style="float:left" border="1" width=77%>
{% for i in articles %}
<tr>
<td>{{i.publishedAt}}</td>
<td><img style="height:15em;width:30em" src="{{i.urlToImage}}"></td>
<td>{{i.title}}</td>
<td><a style="text-decoration:none" href="{{i.url}}">Read More</a></td>
</tr>
{% endfor %}
</table>
<form id="footerform" method="get">
<input type="submit" id="prev" name="prev" value="Previous page">
<input type="submit" id="next" name="next" value="Next page">
<input type="hidden" name="page" value="{{page}}">
</form>
</div> 
{% else %}
<center><p> No news right now </p></center>
{% endif %}
</body>
</html>