<html>
<title>News for ya!</title>
<style>
td{
text-align:center;
font-size:0.55em;
}
</style>
<body>
{% if articles %}
<div id="Container">
<form style="float:right" action="newsQ" method="get">
<input type="text" name="tell">
<input type="submit" value="Submit">
</form>
<table style="float:left" border="2" width=80%>
<tr>
<td>Publication date</td>
<td>Photo</td>
<td>HeadLine</td>
<td>Link</td>
</tr>
{% for i in articles %}
<tr>
<td>{{i.publishedAt}}</td>
<td><img style="height:200px;width:400px" src="{{i.urlToImage}}"></td>
<td>{{i.title}}</td>
<td><a href="{{i.url}}">Click for full article</a></td>
</tr>
{% endfor %}
</table>
</div> 
{% else %}
<center><p> No news right now </p></center>
{% endif %}
</body>
</html>