<html>
<title>
The Headliner
</title>
<style>
h1{
font-family:Times;
}
#navpanel a
{
float:left;
color:white;
margin-left:5%;
}
#navpanel
{
height:50px;
background-color:black;
}
a
{
text-decoration:none;
color:black;
}
#prev,#next
{
color:white;
outline:none;
border:none;
height:5%;
background-color:black;
}
#next
{
float:right;
}
#prev
{
float:left;
}
img
{
width:400px;
height:200px;
}
#article_table td
{
font-size:0.75em;
}
#article_table td a:hover
{
color:red;
}
#next input:hover
{
color:orange;
}
#prev input:hover
{
color:orange;
}
</style>
<body>
<center><h1>The Headliner </h1></center>
<div id="mainContainer">
<div id="navpanel">
<a href="top_headlines">General</a>
<a href="top_headlines?categ=business">Business</a>
<a href="top_headlines?categ=entertainment">Entertainment</a>
<a href="top_headlines?categ=health">Health</a>
<a href="top_headlines?categ=science">Science</a>
<a href="top_headlines?categ=sports">Sports</a>
<a href="top_headlines?categ=technology">Technology</a>
</div>
<hr><br><br>
{% if articles %}
<table border="1" id="article_table">
{% for i in articles %}
<tr>
<td><img src="{{i.urlToImage}}"></td>
<td><a href="{{i.url}}">{{i.title}}</a></td>
{% if i.description %}
<td>{{i.description}}</td>
{% endif %}
</tr>
{% endfor %}
</table>
<br>
<form method="get">
<input type="submit" id="next" name="next" value="Next page">
<input type="submit" id="prev" name="prev" value="Previous page">
<input type="hidden" name="pageno" value="{{page}}">
</form>
{% else %}
<p> No news for now </p>
{% endif %}
</div>
</body>
</html>